@charset 'utf-8';
@import url(./my_reset.css);
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "S-CoreDream-3Light";
  font-weight: 900;
  line-height: 1;
}

.wrap {
  border: 1px solid red;
  /* overflow: hidden; */
}

.wrap > * {
  border: 1px solid lightblue;
}

.wrap > * > * {
  border: 1px solid lightgreen;
}

.wrap > * > * > * {
  border: 1px solid lightgrey;
}

.wrap > * > * > * > * {
  border: 1px solid lightsalmon;
}

.mw {
  max-width: 1440px;
  width: calc(100% - 1rem);
  margin: auto;
}

.hd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.hd .logo {
  padding: 1rem 0;
  width: 124px;
}

.hd nav::before {
  background-color: aliceblue;
  content: "nav bord";
  position: absolute;
  top: 100%;
  left: -500%;
  width: 1000%;
  height: 0;
  opacity: 0;
  transition: 0.3s;
}

.hd nav:hover::before {
  height: 200px;
  opacity: 1;
}

.hd .gnb {
  display: flex;
}

.hd .gnb a {
  display: block;
  white-space: nowrap;
}

.hd .gnb > li {
  position: relative;
  padding: 1rem 0;
}

.hd .gnb > li:hover > a {
  color: black;
}

.hd .gnb > li > a {
  font-family: "GmarketSansBold", sans-serif;
  padding: 1rem 3.125rem;
  font-size: 21px;
  font-weight: 600;
  color: #134aa9;
  font-style: normal;
}

.hd .sub {
  position: absolute;
  width: 100%;
  top: 100%;
  text-align: center;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.hd .sub li {
  position: relative;
}

.hd .sub a {
  /* position: absolute; */
  padding-top: 25px;
  display: block;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  text-align: left;
  color: black;
  font-size: 18px;
  height: 100%;
  width: 100%;
}

.hd .gnb:hover .sub {
  /* opacity: 1; */
  visibility: visible;
  height: 270px;
}

.hd .sub li {
  position: relative;
}

.hd .sub li:hover a {
  color: #134aa9;
}

.hd .sub > li a {
  vertical-align: middle;
}

.hd .sub > li a::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 0.1rem;
  background-color: #134aa9;
  opacity: 0;
  transition: 0.3s;
}

.hd .sub > li a:hover::after {
  opacity: 1;
  margin-left: 0.3rem;
}

.hd .func {
  display: flex;
}

.func a {
  padding: 0.5rem 1rem;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  color: #134aa9;
  white-space: nowrap;
}

.ham {
  background-color: transparent;
  border: none;
  outline: none;
  display: none;
  font-size: 1.5rem;
}

/* 메인 섹션 */
.mainVisual {
  position: relative;
  max-width: 1440px;
  margin: auto;
  width: calc(100% - 1rem);
  color: #134aa9;
  font-family: "GmarketSansMedium", sans-serif;
}

.main img {
  top: 0;
  /* position: absolute; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainVisual h2 {
  font-size: 59px;
}

.mainVisual p {
  font-size: 30px;
}

.slide-inner {
  position: relative;
}

.inner {
  position: absolute;
}

@media (max-width: 1280px) {
  .hd nav,
  .hd .func {
    display: none;
  }

  .ham {
    display: block;
  }
}
